<div class="central animated mt30 zoomIn">
  <h1>Uma frase de efeito elaborada com o termo "plataforma de cursos"</h1>
</div>
<div class="central animated zoomIn">
  <h2>Abordar uma frase sobre os cursos abaixo:</h2>
</div>
<div class="my-container">
  <div class="my-row">
    <div class="my-column">
      <div class="my-thumb animated-fast slideInLeft">
        <img src="../assets/image/curso-estartegias-empresariais.jpg" alt="Ferbo Estratégia Empresarial" class="img-responsive">
        <div class="thumb-content">
          <h3>Curso Estratégias Empresariais</h3>
          <span class="central">
            <a class="btn-view-more btn-primary bt-align">SAIBA MAIS</a>
          </span>
        </div>
      </div>
    </div>
    <div class="my-column">
      <div class="my-thumb animated-fast slideInDown">
        <img src="../assets/image/curso-gestao-ambiental.jpg" alt="Curso Gestão Ambiental" class="img-responsive">
        <div class="thumb-content">
          <h3>Curso Gestão Ambiental</h3>
          <span class="central">
            <a class="btn-view-more btn-primary bt-align">SAIBA MAIS</a>
          </span>
        </div>
      </div>
    </div>
    <div class="my-column">
      <div class="my-thumb animated-fast slideInRight">
        <img src="../assets/image/curso-introducao-gestao.jpg" alt="Curso Acadêmico Ferbo Vagas Introdução à Gestão" class="img-responsive">
        <div class="thumb-content">
          <h3>Curso Introdução à Gestão</h3>
          <span class="central">
            <a class="btn-view-more btn-primary bt-align">SAIBA MAIS</a>
          </span>
        </div>
      </div>
    </div>
    <div class="my-column">
      <div class="my-thumb animated-fast slideInLeft">
        <img src="../assets/image/curso-logistica-empresarial.jpg" alt="Curso Acadêmico Ferbo Logística Empresarial" class="img-responsive">
        <div class="thumb-content">
          <h3>Curso Logística Empresarial</h3>
          <span class="central">
            <a class="btn-view-more btn-primary bt-align">SAIBA MAIS</a>
          </span>
        </div>
      </div>
    </div>
    <div class="my-column">
      <div class="my-thumb animated-fast slideInUp">
        <img src="../assets/image/curso-planejamento-estrategico.jpg" alt="Curso Ferbo Planejamento Estratégico" class="img-responsive">
        <div class="thumb-content">
          <h3>Curso Planejamento Estratégico</h3>
          <span class="central">
            <a class="btn-view-more btn-primary bt-align">SAIBA MAIS</a>
          </span>
        </div>
      </div>
    </div>
    <div class="my-column">
      <div class="my-thumb animated-fast slideInRight">
        <img src="../assets/image/curso-qualidade-total.jpg" alt="Curso Ferbo Qualidade Total" class="img-responsive">
        <div class="thumb-content">
          <h3>Curso Qualidade Total</h3>
          <span class="central">
            <a class="btn-view-more btn-primary bt-align">SAIBA MAIS</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>