<h1 class="central mt50 bt30 orange font-adpt-title">Como funciona?</h1>
<div class="wrap-box-home">
  <div class="box-home pd25">
    <h3 class="central mt10 mb10 blue">Currículos</h3>
    <p>É muito fácil e intuitivo! Com apenas três passos você estará apto a ser visto pelas empresas:</p>
    <ul>
      <li>1 - Preencha seu cadastro;</li>
      <li>2 - Escolha o melhor plano</li>
      <li>3 - Grave ou faça o upload do vídeo currículo.</li>
    </ul>
    <p>Pronto, assim você está na base da Ferbo Video Currículos e todas as empresas cadastradas terão acesso direto ao seu vídeo currículo.</p>
    <span class="central pd25">
      <a routerLink="/cadastro" class="btn btn-primary bt-align">Cadastrar Video currículo</a>
    </span>
  </div>
  <div class="box-home pd25">
    <span>

      <h3 class="central mt10 mb10 blue">Empresas</h3>
      <p>Para acessar todos os video currículos da Ferbo Video Currículos é muito prático e rápido, primeiro preencha seu cadastro, depois escolha o melhor plano e pronto.</p>
      <p>Ao termino do processo acima você poderá visualizar todos os vídeos currículos cadastrados na Ferbo Video Currículos e ainda poderá contar com uma equipe espcializada no processo de Recrutamento e Seleção (disponível no Plano Empresa Plus).</p>
    </span>
      <span class="central pd25">
      <a routerLink="/cadastro" class="btn btn-primary bt-align">Cadastrar Empresa</a>
    </span>
  </div>
</div>