<!-- <iframe class="video-home" src="https://www.youtube.com/embed/nQZG13LnWIA?list=PLL4R-9k-jgGAx9AJPdvUpx-RdMyQEYnVw"></iframe> -->
<video width="100%" height="400" autoplay="autoplay" #videoPlayer controls controlsList="nodownload" loop>
  <source src="https://ferbo.com.br/img/video.mp4" type="video/mp4">  
</video>
<div class="container">
  <h1 class="central mt50 bt30 orange font-adpt-title">Por que assinar a Ferbo Vídeo Currículo</h1>
</div>
<div class="wrap-box-home">
  <div class="box-home pd25">
    <span class="central">
      <!-- <img src="https://ferbo.com.br/img/ferbo-video-curriculo.png" alt=""> -->
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="136px" height="150px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 136 150" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Camada_x0020_1">
          <g id="_2508158245312">
            <g>
              <path class="fil0" d="M44 23c6,0 11,5 11,12 0,6 -5,11 -11,11 -6,0 -11,-5 -11,-11 0,-7 5,-12 11,-12l0 0zm0 28c13,0 23,5 23,11l0 6 -45 0 0 -6c0,-6 10,-11 22,-11z"
              />
            </g>
            <path class="fil0 str0" d="M13 6l51 0 0 6 -1 3 -45 0c-6,0 -11,5 -11,11l0 104c0,6 5,11 11,11l77 0c6,0 11,-5 11,-11l0 -82 3 1 3 0 0 88c0,7 -5,12 -12,12l-87 0c-7,0 -13,-5 -13,-12l0 -118c0,-7 6,-13 13,-13z"
            />
            <path class="fil0" d="M123 14l0 -11c0,-2 -1,-3 -3,-3l-37 0c-2,0 -3,1 -3,3l0 31c0,2 1,3 3,3l37 0c2,0 3,-1 3,-3l0 -11 13 13 0 -34 -13 12z"
            />
            <rect class="fil0" x="14" y="96" width="61.2114" height="7.98408" rx="4" ry="4" />
            <rect class="fil0" x="14" y="115" width="85.1631" height="7.98408" rx="6" ry="4" />
            <rect class="fil0" x="14" y="78" width="61.2114" height="7.98408" rx="4" ry="4" />
          </g>
        </g>
      </svg>

    </span>
    <h3 class="central mt10 mb10 blue">Video Currículo</h3>
    <p>O mundo está mudando e o mercado de trabalho também. A tecnologia esta cada vez mais presente em nossas vidas, o vídeo
      currículo é a mais nova tendência de se apresentar às empresas, o vídeo currículo esta se tornando a forma mais rápida,
      mais prática e mais procurada pelas empresas na busca do candidato ideal. Aproveite esta nova e eficiente ferramenta
      e cadastre-se agora na ferbo vídeo currículo!</p>
    <span class="central pd25">
      <a routerLink="/cadastro/1" class="btn btn-primary bt-align">Cadastrar Video currículo</a>
    </span>
  </div>
  <div class="box-home pd25">
    <span class="central">

      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="150px" height="150px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 150 150" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Camada_x0020_1">
          <g>
            <path class="fil0" d="M102 70c17,0 31,14 31,32 0,6 -2,12 -5,17l22 21 -10 10 -22 -22c-4,3 -10,5 -16,5 -18,0 -32,-14 -32,-31 0,-18 14,-32 32,-32l0 0zm0 14c-10,0 -18,8 -18,18 0,9 8,17 18,17 9,0 17,-8 17,-17 0,-10 -8,-18 -17,-18l0 0zm-46 -84l28 0c8,0 14,6 14,14l0 14 28 0c8,0 14,6 14,14l0 35c-8,-12 -22,-21 -38,-21 -25,0 -46,21 -46,46 0,12 5,23 13,31l-55 0c-8,0 -14,-6 -14,-14l0 -77c0,-8 6,-14 14,-14l28 0 0 -14c0,-8 6,-14 14,-14l0 0zm28 28l0 -14 -28 0 0 14 28 0z"
            />
          </g>
        </g>
      </svg>
    </span>
    <h3 class="central mt10 mb10 blue">Empresas</h3>
    <p>O vídeo currículo traz vários beneficios, além de poupar o seu tempo, melhor identificam as reias habilidades e competências
      do candidato. No vídeo currículo as empresas já conseguem identificar o perfil do desejado, mas se mesmo assim ainda
      persistirem dúvidas a ferbo vídeo cirrículo pode ajudar nesse dificil processo de recrutamento e seleção. Busque aqui
      os melhores talentos, cadastre-se agora na ferbo Cadastro Currículos vídeo currículo!</p>
    <span class="central pd25">
      <a routerLink="/cadastro/2" class="btn btn-primary bt-align">Cadastrar Empresa</a>
    </span>
  </div>
</div>
<div class="row-100">
  <h1 class="central mt50 bt20 orange font-adpt-title">Mais sobre video currículo</h1>
  <div class="columns-block">
    <h2 class="central font-adpt dark-blue">
      Reportagem Band
    </h2>
    <div class="thumb-home">
      <a href="https://noticias.band.uol.com.br/jornaldaband/videos/ultimos-videos/16492954/sites-ajudam-candidatos-a-fazer-curriculo-em-video.html"
        target="_blank">
        <img src="https://ferbo.com.br/img/reportagem-video-curriculo-band.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="columns-block">
    <h2 class="central font-adpt dark-blue">
      Reportagem Globo
    </h2>
    <div class="thumb-home">
      <a href="https://youtu.be/rm8JYwAS_rs" target="_blank">
        <img src="https://ferbo.com.br/img/reportagem-video-curriculo-globo.jpg" alt="">
      </a>
    </div>
  </div>
</div>