<div class="container-fluid">
  <h1 class="central mt50 bt50">Escolha uma área profissional para pesquisa</h1>
  <div class="wrap-box-quarter">
    <div class="column-box-quarter b-quarter animated fadeInDown">
      <h1 class="grey font-adpt">Administração</h1>
      <img src="../assets/image/adm.jpg" alt="Ferbo Área Administração" class="img-responsive">
      <span class="overlay">
        <a class="btn btn-success btn-outline bt-align" (click)="openSearchVagas()">Pesquisar</a>
      </span>
    </div>
    <div class="column-box-quarter b-quarter animated fadeInDown">
      <h1 class="grey font-adpt">Direito</h1>
      <img src="../assets/image/direito.jpg" alt="Ferbo Área Direito" class="img-responsive">
      <span class="overlay">
        <a routerLink="" class="btn btn-success btn-outline bt-align">Pesquisar</a>
      </span>
    </div>
    <div class="column-box-quarter b-quarter animated fadeInDown">
      <h1 class="grey font-adpt">Técnologia</h1>
      <img src="../assets/image/tecnologia.jpg" alt="Ferbo Área Técnologia" class="img-responsive">
      <span class="overlay">
        <a routerLink="" class="btn btn-success btn-outline bt-align">Pesquisar</a>
      </span>
    </div>
    <div class="column-box-quarter b-quarter animated fadeInDown">
      <h1 class="grey font-adpt">Jornalismo</h1>
      <img src="../assets/image/jornalismo.jpg" alt="Ferbo Área Jornalismo" class="img-responsive">
      <span class="overlay">
        <a routerLink="" class="btn btn-success btn-outline bt-align">Pesquisar</a>
      </span>
    </div>
    <div class="column-box-quarter b-quarter animated fadeInDown">
      <h1 class="grey font-adpt">Marketing</h1>
      <img src="../assets/image/marketing.jpg" alt="Ferbo Área Marketing" class="img-responsive">
      <span class="overlay">
        <a routerLink="" class="btn btn-success btn-outline bt-align">Pesquisar</a>
      </span>
    </div>
    <div class="column-box-quarter b-quarter animated fadeInDown">
      <h1 class="grey font-adpt">Engenharia</h1>
      <img src="../assets/image/engenharia.jpg" alt="Ferbo Área Engenharia" class="img-responsive">
      <span class="overlay">
        <a routerLink="" class="btn btn-success btn-outline bt-align">Pesquisar</a>
      </span>
    </div>
    <div class="column-box-quarter b-quarter animated fadeInDown">
      <h1 class="grey font-adpt">Pedagogia</h1>
      <img src="../assets/image/pedagogia.jpg" alt="Ferbo Área Pedagogia" class="img-responsive">
      <span class="overlay">
        <a routerLink="" class="btn btn-success btn-outline bt-align">Pesquisar</a>
      </span>
    </div>
  </div>
</div>
<div class="modal" [ngClass]="{'animated zoomIn' : modalVagas}" *ngIf="modalVagas === true">
  <div class="container-fluid">
    <span class="close-modal">
      <svg style="width:32px;height:32px" viewBox="0 0 24 24" (click)="closeSearchVagas()">
        <path fill="#fff" d="M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z"
        />
      </svg>
    </span>
    <div class="wrap-bts-vagas">
      <button class="bt-choice-vagas" [ngClass]="{'bt-choice-vagas-selected' : vEmpresa}" (click)="openVempresa()">VAGAS EMPRESAS</button>
      <button class="bt-choice-vagas" [ngClass]="{'bt-choice-vagas-selected' : pCandidato}" (click)="openPcandidato()">PESQUISAR CANDIDATOS</button>
    </div>
  </div>
  <div *ngIf="vEmpresa" class="wrap-box-search">
    <input class="input-search" type="text" placeholder="Pesquisar vagas {{adm}}" [(ngModel)]="pp">
    <div class="box-card-vaga" *ngFor="let data of objeto | search : pp">
      <span>{{data.cargo}}</span>
    </div>
  </div>
  <div *ngIf="pCandidato" class="wrap-box-search">
    <input class="input-search" type="text" placeholder="Pesquisar cargos e funções Candidatos" [(ngModel)]="pp">
    <div class="panel panel-default" *ngFor="let data of objeto | search : pp">
      <span>
        {{data.cargo}}
      </span>
    </div>
  </div>

</div>